.btn__replay-icon {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: @white;
  }
}

.btn__replay:hover svg {
  fill: #333333;

  @media (min-width: @tablet-width) {
    fill: @opacity2-white;
  }
}

.btn__replay:focus svg {
  fill: #333333;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    fill: @opacity-white;
    opacity: 1;
  }
}

.btn__subtitles {
  margin-left: auto;
}

.btn__subtitles-icon {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: @white;
  }
}

.btn__subtitles:hover svg {
  fill: #333333;

  @media (min-width: @tablet-width) {
    fill: @opacity2-white;
  }
}

.btn__subtitles:focus svg {
  fill: #333333;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    fill: @opacity-white;
    opacity: 1;
  }
}


.btn__fullscreen {
  margin-left: 31px;
}

.btn__fullscreen svg {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: @white;
  }
}

.btn__fullscreen:hover svg {
  fill: #333333;

  @media (min-width: @tablet-width) {
    fill: @opacity2-white;
  }
}

.btn__fullscreen:focus {
  fill: #333333;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    fill: @opacity-white;
    opacity: 1;
  }
}
