.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.description__item {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 256px;
  }
}

.description__item picture {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.description__item--reason-2 .description__also {
  padding: 40px 27px 35px 26px;

  @media (min-width: @tablet-width) {
    grid-column: 3;
    padding: 42px 33px 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 49px 83px 35px;
  }
}

.description__item--reason-2 h3 {
  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 42px;
  }
}

.description__item--reason-2 picture {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
}

.description__item--reason-2 img {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
}

.description__item--reason-2 .description__also--paragraph {
  padding-top: 10px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    padding-bottom: 23px;
  }
}

.description__also {
  background: @standard;
  color: @white;
}

.description__item:first-child .description__also {
  padding: 55px 20px 39px 18px;

  @media (min-width: @tablet-width) {
    height: 256px;
    box-sizing: border-box;
    padding: 25px 20px 39px 21px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 60px 39px;
  }
}

.description__also h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 27px;
  }
}

.description__also p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.description__item:first-child .description__also h3 {
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 35px 0;
  }
}

.description__also--paragraph {
  padding-top: 12px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-bottom: 23px;
  }
}
