.else-list {
  list-style: none;
  background: @EEEEEE;
  margin: 0;
  padding: 0;
}

.else-item {
  position: relative;
}

.else-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.else-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.else-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 280px;
  height: 1px;
  background: #d6d6d6;
  bottom: 1px;
  left: 20px;
}

.else-item:last-child::before {
  display: none;
}
