.footer {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.footer__hashtag p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 34px 0 34px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }
}

.footer__social {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.footer__developed {
  padding: 38px 0 29px 0;
}

.footer__academy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.footer__academy-icon {
  margin-left: 13px;
}

.footer__academy:hover {
  color: #81b3d2;
}

.footer__academy:focus {
  color: @opacity-black;
}
