.form {
  text-transform: none;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 61px;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
    width: auto;
  }
}

.form legend {
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 21px;
    padding-left: 41px;
    padding-top: 21px;
  }
}

.form__fieldset {
  border: none;
  padding: 18px 20px 9px;
  margin: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 18px 20px 27px 17px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 20px 27px 39px;
  }
}

.form__fieldset--contact {
  padding: 18px 20px 25px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 18px 60px 23px;
  }

  @media (min-width: @desktop-width) {
    padding: 18px 123px 0 120px;
  }
}

.form__fieldset--review {
  padding: 0 20px 43px;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    padding: 0 20px 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px 63px 160px;
  }
}

.form__fieldset--attraction {
  padding: 25px 0 40px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 25px 134px 12px 112px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 110px 10px 67px;
  }
}

.form__fieldset--description {
  padding: 15px 0 47px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 43px 60px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 43px 120px 54px;
  }
}

.form__fieldset label {
  color: @black;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.form__fieldset input {
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border: 4px solid #f2f2f2;
  box-sizing: border-box;
  padding-left: 23px;
  margin-left: 9px;
}

.form__fieldset input:hover {
  background: #e5e5e5;
  border: 4px solid #e5e5e5;
}

.form__fieldset input:focus {
  background: @white;
  box-sizing: border-box;
  outline: none;
}

.form__fieldset--review legend {
  padding-top: 21px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding: 21px 0 72px 40px;
  }
}

.form__fieldset--contact legend {
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding-left: 0;
    padding-bottom: 3px;
  }
}

.form__fieldset--contact legend::before {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    bottom: 19px;
    left: -184px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    left: -340px;
  }
}

.form__fieldset--contact legend::after {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: -184px;
    bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    right: -341px;
  }
}

.form__fieldset--attraction legend {
  padding: 15px 2px 0 0;
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding-left: 90px;
    padding-right: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    padding-left: 360px;
    padding-right: 316px;
  }
}

.form__fieldset--attraction legend::before {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    left: -52px;
    bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    left: 53px;
  }
}

.form__fieldset--attraction legend::after {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: -74px;
    bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    right: 10px;
  }
}

.form__fieldset--description legend {
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding: 11px 60px;
  }
}

.form__fieldset--description legend::before {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    bottom: 28px;
    left: -139px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    left: -295px;
  }
}

.form__fieldset--description legend::after {
  display: none;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: -139px;
    bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    right: -295px;
  }
}

.form__fieldset--review label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  text-transform: none;
}

.form__fieldset--attraction label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  text-transform: none;
}

.form__fieldset textarea {
  padding: 13px 0 0 21px;
  width: 279px;
  min-height: 160px;
  box-sizing: border-box;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  background: #f2f2f2;
  border: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 18px;
  }
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__name {
  width: 230px;
  min-height: 58px;

  @media (min-width: @tablet-width) {
    width: 216px;
  }

  @media (min-width: @desktop-width) {
    width: 350px;
  }
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 26px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: @black;
}

.form__surname {
  width: 192px;
  min-height: 58px;

  @media (min-width: @tablet-width) {
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 312px;
  }
}

.form__patronymic {
  width: 194px;
  min-height: 58px;

  @media (min-width: @tablet-width) {
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    width: 314px;
  }
}

.form__list--fullname {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-left: 42px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-left: 42px;
    padding-right: 100px;
  }
}

.form__item--fullname {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.form__item--fullname input {
  flex-grow: 1;
  margin-left: 13px;
  padding-left: 18px;
  padding-top: 5px;
}

.form__list--fullname label {
  margin-top: 3px;
}

.form__item--patronymic {
  padding-bottom: 0;
}

.form__item--patronymic input {
  margin-left: 16px;
}

.form__list--visit {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 34px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.form__item--visit {
  padding-left: 99px;
  padding-bottom: 54px;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-left: 123px;
    padding-bottom: 62px;
  }
}

.form__item--visit:first-child {
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.form__item--visit:last-child {
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 62px;
  }
}

.form__list--contact {
  text-align: left;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 35px;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__item--contact {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}

.form__item--contact label {
  @media (min-width: @desktop-width) {
    padding-top: 3px;
  }
}

.form__item--contact input {
  width: 100%;
  min-height: 58px;
  margin: 8px 0 3px 0;
  padding: 4px 0 0 18px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
    margin: 0 0 0 16px;
  }
}

.form__item--contact span {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.form__list--contact label {
  padding-left: 22px;

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.form__fieldset::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  bottom: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__fieldset--review::before {
  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: auto;
    background: #e5e5e5;
    bottom: 29px;
    left: 383px;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    bottom: 50px;
    left: 600px;
  }
}


.form__fieldset--description::before {
  display: none;
}

.form__item--mod input {
  margin: 6px 0 29px 0;

  @media (min-width: @tablet-width) {
    margin: 6px 0 37px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 19px;
  }
}

.form__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 58px;
  height: 58px;
  background: #e6e6e6;
  right: 0;
  top: 34px;

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.form__item--mod .form__item-img {
  top: 32px;

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.form__list--impressions {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.form__item--impressions {
  padding-left: 78px;
  text-align: left;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
  }
}

.form__item--impressions:last-child {
  padding-bottom: 0;
}

.form__input-radio:focus + label {
  outline: 1px solid @black;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  left: -77px;
  top: -16px;
  background: #f2f2f2;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -74px;
    top: -17px;
  }
}

.form__input-radio + label:hover::before {
  background: #e5e5e5;
}

.form__input-radio + label:focus::before {
  background: #d5d5d5;
}

.form__input-radio:disabled + label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  left: -77px;
  top: -16px;
  background: #3f0f0f;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -74px;
    top: -17px;
  }
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -60px;
  top: 0;
  border-radius: 50%;
  background: #333333;

  @media (min-width: @tablet-width) {
    left: -57px;
  }
}

.form__input-radio:checked + label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  left: -77px;
  top: -17px;
  background: #f2f2f2;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    left: -74px;
    top: -17px;
  }
}

.form__input-radio:checked + label:hover::before {
  background: #e5e5e5;
}

.form__input-radio:checked + label:focus::after {
  background: #333333;
  opacity: 0.3;
}

.form__input-radio:checked + label:focus::before {
  background: #d5d5d5;
}

.form__input-checkbox:focus + label {
  outline: 1px solid @black;
}

.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: -81px;
  top: -18px;
  background: #f2f2f2;
  border-radius: 5px;
}

.form__input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: -81px;
  top: -18px;
  background: #3f0f0f;
  border-radius: 5px;
}

.form__input-checkbox + label:hover::before {
  background: #e5e5e5;
}

.form__input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: -81px;
  top: -18px;
  background: #f2f2f2;
  border-radius: 5px;
}

.form__input-checkbox:checked + label:hover::before {
  background: #e5e5e5;
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  left: -63px;
  top: 3px;
  background: url("../img/tick.svg");
}

.form__input-checkbox + label:focus::before {
  background: #d5d5d5;
}

.form__input-checkbox:checked + label:focus::before {
  background: #d5d5d5;
}

.form__input-checkbox:checked + label:focus::after {
  fill: #333333;
  opacity: 0.3;
}


.form__pole {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__pole p {
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 19px 0 14px 104px;

  @media (min-width: @desktop-width) {
    margin: 19px 0 14px 198px;
  }
}
