.form {
  text-transform: none;
}

.form legend {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__fieldset {
  border: none;
}

.form__fieldset label {
  color: @black;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.form__fieldset input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border: none;
}

.form__fieldset--last label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__fieldset textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black;
  background: #f2f2f2;
}
