.gallery__list {
  list-style: none;
}

.gallery__item {
  text-align: left;
}

.gallery__item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.gallery__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
