body {
  width: 320px;
  margin: 0 auto;
  font-family: "PTSans", sans-serif;
  min-height: 320px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    background-color: #f2f2f2;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@white: #ffffff;
@opacity-white: rgba(255, 255, 255, 0.3);
@opacity2-white: rgba(255, 255, 255, 0.6);
@black: #000000;
@opacity-black: rgba(0, 0, 0, 0.3);
@opacity2-black: rgba(0, 0, 0, 0.6);
@standard: #81B3D2;
@EEEEEE: #EEEEEE;
@shadow: rgb(171, 171, 171, 0.3);

.wrapper {
  @media (min-width: @desktop-width) {
    width: 1200px;
    background-color: @white;
    margin: 0 auto;
    box-shadow: 0 0 5px @shadow;
  }
}
