.header {
  background-color: @white;
  position: relative;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: @tablet-width) {
    z-index: 3;
  }
}

.header__logo picture {
  position: relative;
  z-index: 1;
}

.header__img--show {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.header__img {
  display: block;
}

.header__logo .menu--no-js {
  display: none;
}
