.header {
  background-color: @white;
  position: relative;
  min-height: 56px;
}

.header__img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: @tablet-width) {
    z-index: 3;
  }
}

.header__img picture {
  position: relative;
  z-index: 1;
}

.header__img--show {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.header--no-js .header__img {
  display: none;
}

.header__img img {
  @media (min-width: @desktop-width) {
    width: 187px;
    height: 97px;
  }
}
