.header {
  background-color: @white;
  position: relative;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  left: 107px;

  @media (min-width: @tablet-width) {
    left: 334px;
  }

  @media (min-width: @desktop-width) {
    left: 506px;
  }
}

.header__logo picture {
  position: relative;
  z-index: 1;
}

.header__img--show {
  display: none;
}
