.images {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.images__promo {
  width: 320px;
  min-height: 389px;
  background: @standard url("../img/back-mobile.jpg") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
