.interest {
  padding: 35px 0 65px 0;

  @media (min-width: @tablet-width) {
    padding: 56px 155px 74px;
  }

  @media (min-width: @desktop-width) {
    padding: 58px 369px 82px;
  }
}

.interest h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.interest p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 21px 30px 43px 29px;

  @media (min-width: @tablet-width) {
    line-height: 25px;
    padding: 33px 0 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 31px 0 34px;
  }
}

.interest a {
  color: @white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background: @standard;
  padding: 15px 46px 17px;

  @media (min-width: @tablet-width) {
    padding: 15px 136px 16px;
  }
}

.interest a:hover {
  background: #669ec0;
}

.interest a:focus {
  color: @opacity-white;
  background: #5496bd;
}

.interest a:disabled {
  background: #e5e5e5;
}

.interest br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
