.menu {
  background: @standard;
  display: block;


  @media (min-width: @tablet-width) {
    background: @white;
  }
}

.menu-logo {
  position: absolute;
  top: 17px;
  right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu-nav {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  background: @standard;

  @media (min-width: @tablet-width) {
    display: flex;
    background: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0 43px;
  }
}

.menu-nav a {
  min-height: 56px;
  color: @white;
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26px;
    color: @black;
    box-shadow: none;
    width: 153px;
  }
}

.menu-nav a:first-child {
  position: absolute;
  right: 20px;
  box-shadow: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu-nav a:nth-child(2) {
  @media (min-width: @desktop-width) {
    margin-right: 86px;
  }
}

.menu-nav a:nth-child(4) {
  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.menu-nav a:last-child {
  box-shadow: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 87px;
  }
}

.menu-nav a:first-child svg {
  fill: @white;
}

.menu-nav a:first-child:hover {
  opacity: 0.6;
}

.menu-nav a:first-child:focus {
  opacity: 0.3;
}

.menu-nav a:hover {
  color: #81b3d2;
}

.menu-nav a:focus {
  color: @opacity-black;
}

.menu__show {
  display: block;
}

.menu__btn svg {
  fill: #81b3d2;
}

.menu__btn:hover svg {
  opacity: 0.3;
}

.menu__btn--show {
  display: none;
}
