.promo__sedona {
  min-height: 158px;
  background: @standard url("../img/back-else.jpg") no-repeat center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.promo__text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.promo__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
