.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0 8px 1px 0;
  }
}

.social__item {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @standard;
}

.social__item a {
  width: 46px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item svg {
  fill: @white;
}

.social__item:last-child {
  margin: 0;
}

.social__item a:hover {
  background: #669ec0;
}

.social__item a:focus {
  background: #669ec0;
}

.social__link:focus svg {
  fill: @opacity-white;
}
