.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 8px 7px 0 0;
  }
}

.social-item {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @standard;
}

.social-item a {
  width: 46px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item svg {
  fill: @white;
}

.social-item:last-child {
  margin: 0;
}

.social-item a:hover {
  background: #669ec0;
}

.social-item a:focus {
  background: #669ec0;
}

.social-item a:focus svg {
  fill: @opacity-white;
}
